<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/icon.ico">
    <title>Comentario</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/comentario.css">
    <style>
        .container {
            background-color: rgba(0, 255, 149, 0.2);
            color: sandybrown;
            text-shadow: 3px 3px 4px black;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            font-size: 20px;
        }
        .comment {
            background: linear-gradient(rgba(14, 98, 119, 0.2), rgba(253, 212, 77, 0.2));
        }

        .comentario{
            color: white;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="class text-center">
            <h1><b>Ultimos comentarios</b></h1>
        </div>
        {% for comentario in comentario  %}
        <hr>
        <div class="comment" style="border: 2px solid black;">
            <strong><ins>{{ comentario.usuario }}</ins></strong> <br>
            <!-- <strong>{{ user.username }}</strong> <br> -->
            <!-- <strong>{{ comentario.Nombre_restaurant }}</strong> -->
            <strong>{{ comentario.Nombre_restaurant }}</strong>
            <div class="comentario">
                <p><i>{{ comentario.mensaje|linebreaks }}</i></p>
            </div>
            
        </div>
        <hr>
        {% empty %}
        <p>No comments here yet :(</p>
        {% endfor %}

    </div>
</body>

</html>