{% extends 'comentario.html' %}
{% load static %}
{% block content1 %}
<a class="nav-link" href="../san_jose/">San Jose</a>
{% endblock %}
{% block content2 %}
    <div class="container">
        <form action=" " method="POST">{% csrf_token %}
            <div class="form-group text-center">
                <div class="row">
                    <div class="col-sm-10 py-2">
                        <h5><b>Bienvenido!</b></h5>
                    </div>
                    <div class="col-sm-2">
                        <input type="text" class="usuario form-control" name="txt_UsuarioJo"
                            placeholder="Nombre de Usuario" value="{{ user.username }}" readonly=»readonly»>
                    </div>
                </div>
                <label for="comentario">
                    <h1>Dejame tu comentario</h1>
                </label>
                <textarea class="form-control" name="txt_ComentarioJo" cols="30" rows="10"></textarea>
                                
            </div>
            <div class="form-group text-center">
                <h6><b>Calificación:</b></h6>
                <p class="clasificacion">
                    <input id="radio1" type="radio" name="estrellas" value="★★★★★">
                    <label for="radio1" class="stars">★</label>
                    <input id="radio2" type="radio" name="estrellas" value="★★★★">
                    <label for="radio2" class="stars">★</label>
                    <input id="radio3" type="radio" name="estrellas" value="★★★">
                    <label for="radio3" class="stars">★</label>
                    <input id="radio4" type="radio" name="estrellas" value="★★">
                    <label for="radio4" class="stars">★</label>
                    <input id="radio5" type="radio" name="estrellas" value="★">
                    <label for="radio5" class="stars">★</label>
                </p>
            </div>
            <input type="submit" class="btn btn-primary btn-block py-4" value="Enviar">
        </form>
    </div>
{% endblock %}