{%load static%}
<header>
    <div class="view jarallax" data-jarallax='{"speed": 0.2}'
    style="background-image:linear-gradient(rgba(93,9,121 , .3),rgba(155,35,234, .7)),url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTLcsLBTHT_XT_gALHObVw90fsmUupp0JAfOA&usqp=CAU') 
    ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 400px;
    text-align: center;
    ">
        <div class="mask rbga-black-strong">
            <div class="container h-100 d-flex justify-content-center aling-items-center">
                <div class="row smooth-scroll">
                    <div class="col-md-12 text-center">
                        <div class="text-center">
                            <h2 class="display-3 font-weight-bold pb-4 mb-2 " style="color: white;
                            text-align: center;">Marcos Billordo</h2>
                            <h3 class="intro-subtext wow  fadeIn white-text" data-wow-delay="0.2s" style="color: white;" >Professional Developer</h3>
                        </div>
    
                    </div>
    
                </div>
            </div>
    
        </div>
    </div>
</header>