/*Se hace un degradado primero ponemos un atributo de css  la url  donde va la imagen
luego  para que quede ien se hace un background size cover para que ocupe todo el ancho 
y por ultimo un background posicion*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
body, html{
    height: 100%;
    padding: 0;
    margin: 0;
}

body{
 background: linear-gradient(rgba(93,9,121 , .3),rgba(155,35,234, .7)), url(/static/img/Degradado.jpg);
 background-size: cover;
 background-position: center;
 color: white;
 position: relative;
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 background-attachment: fixed;
}
.logo{
    height: 200px;
    margin-top: 15px;
    
}
.espacio{
    letter-spacing: 2px;
}

header {
    text-shadow: 8px 0 10px black;
}

footer {
    background-image: url(/static/img/footer.png);
}

.Comentario {
    padding-left: 30%;
}