{% extends 'restaurantes/restaurante.html' %}
{% block title %}
Nanas de Cebollas
{% endblock %}

{% block content %}
<a class="nav-link" href="#">Nanas de Cebollas</a>
{% endblock %}

{% block content1 %}
<div class="row">
    <!-- NOMBRE Y DIRECCION -->
    <div class="col-sm-6 py-4 d-flex flex-column text-center">
        <h1 style="font-size: 48pt;">Nanas de Cebollas</h1>
        <i class="fas fa-map-marker-alt"></i>
        <h4>Av. Paraguay 38</h4>
        <h6>Resistencia - Chaco</h6>
        <h2>Acerca de:</h2>
        <p>Este es un restaurante rustico de la ciudad de Resistencia Ubicado en el centro, una muy buena opción para un
            fin de semana!.
        </p>
    </div>
    <!-- IMAGENES DEL RESTAURANTE -->
    <div class="carrusel col-sm-6 py-4 d-flex flex-column">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active text-center">
                    <img src="../static/img/restaurante_5/img1.png"">
                    </div>
                    <div class=" carousel-item text-center">
                    <img src="../static/img/restaurante_5/img2.png">
                </div>
                <div class="carousel-item text-center">
                    <img src="../static/img/restaurante_5/img3.png">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block content4 %}
<p><i class="fas fa-mobile-alt px-2"></i>362-4434749</p>
<!-- HORARIOS DE ATENCION -->
<h3>Horarios de Atencion:</h3>
<p>⏰ <b>Lunes:</b> 20.30hs–00.30hs</p>
<p>⏰ <b>Martes:</b> 11.30hs–14.30hs | 20.30hs–00.30hs</p>
<p>⏰ <b>Miercoles:</b> 06-14hs</p>
<p>⏰ <b>Jueves:</b> 11.30hs–14.30hs | 20hs–00.30hs</p>
<p>⏰ <b>Viernes:</b> 11.30hs–14.30hs | 20hs–00.30hs</p>
<p>⏰ <b>Sabado:</b> 11.30hs–14.30hs | 20hs–00.30hs</p>
<p>⏰ <b>Domingo:</b> Cerrado</p>

<!-- DELIVERY DISPONIBLE -->
<img src="../static/img/delivery.png" class="img-fluid" data-toggle="tooltip" data-placenment="top"
    title="📞 Pegame un llamado pibe!">
<h3><i class="fas fa-check-circle" style="color: lightgreen;"></i>Cuenta con delivery!<i class="fas fa-check-circle"
        style="color: lightgreen;"></i></h3>
<a href="https://www.pedidosya.com.ar/restaurantes/resistencia/nanas-de-cebollas-menu" target="_blank"><img
        src="../static/img/pedidos_ya.png" class="img-fluid" data-toggle="tooltip" data-placenment="top"
        title="😉 Buscame en Pedidos Ya!"></a>
{% endblock %}

{% block content2 %}
<div class="row" id="comentario">
    <div class="col-sm-6">
        <div class="container">
            <div class="class text-center">
                <h1><b>Ultimos comentarios</b></h1>
            </div>
            {% if comentario %}
            {% for coment in comentario %}
            <hr>
            <div class="comment" style="border: 2px solid black;">
                <p align="right">{{ coment.Nombre_restaurant }} - {{ coment.fecha }}</p>
                <div><strong><ins>{{ coment.usuario }}</ins></strong></div>
                <div class="comentario5">
                    <p><i>{{ coment.mensaje|linebreaks }}</i></p>
                </div>
                <p>Valoración: <b class="estrellaColor">{% if coment.valoracion == '1' %}
                    ★
                    {% elif coment.valoracion == '2' %}
                    ★★
                    {% elif coment.valoracion == '3' %}
                    ★★★
                    {% elif coment.valoracion == '4' %}
                    ★★★★
                    {% elif coment.valoracion == '5' %}
                    ★★★★★
                    {% endif %}</b></p>
            </div>
            <hr>
            {% endfor %}
            {% else %}
            <p>No hay comentarios aquí :(</p>
            {% endif %}
            <div class="class text-center">
                <p><a href="" data-toggle="modal" data-target="#comentariosModal"><b>Click para ver todos los
                            comentarios</b></a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-4">
        {% if user.is_authenticated %}
        <form action=" " method="POST" class="formComentario" name="FormComent">{% csrf_token %}
            <div class="form-group text-center">
                <div class="row">
                    <div class="col-sm-8 py-2">
                        <h5><b>Bienvenido!</b></h5>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="usuario form-control" name="txt_UsuarioNanas"
                            placeholder="Nombre de Usuario" value="{{ user.username }}" readonly=»readonly»>
                    </div>
                </div>
                <label for="comentario">
                    <div class="starComentario">
                        <h1>Dejame tu comentario</h1>
                    </div>
                </label>
                <textarea class="form-control" id="areaComentario" name="txt_ComentarioNanas" cols="30" rows="5"></textarea>

            </div>
            <div class="form-group text-center">
                <h6><b>Calificación:</b></h6>
                <p class="clasificacion">
                    <input id="radio1" type="radio" name="estrellas" value="5">
                    <label for="radio1" class="stars">★</label>
                    <input id="radio2" type="radio" name="estrellas" value="4">
                    <label for="radio2" class="stars">★</label>
                    <input id="radio3" type="radio" name="estrellas" value="3">
                    <label for="radio3" class="stars">★</label>
                    <input id="radio4" type="radio" name="estrellas" value="2">
                    <label for="radio4" class="stars">★</label>
                    <input id="radio5" type="radio" name="estrellas" value="1">
                    <label for="radio5" class="stars">★</label>
                </p>
            </div>
            <input type="button" class="btn btn-primary btn-block py-4" value="Enviar" id="botonEnviarComent" onclick="confirMsj()">
        </form>
        {% else %}
        <div class="container text-center">
            <h3>¿Quieres dejar un comentario a este restaurante?</h3>
            <p>Click para registrarte o iniciar sesión!</p>
            <a href="{% url 'login'  %}"><button class="btn btn-outline-success py-4"><b>Iniciar sesión</b></button></a>
        </div>
        {% endif %}
    </div>
</div>
<!-- api google maps -->
<div class="row">
    <div class="col-sm-4"></div>
    <div class="mapa col-sm-6 d-flex py-2">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3540.6929874337916!2d-58.98406708439927!3d-27.44767722233933!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94450cf656fcf969%3A0x812315eb20754afc!2sNanas%20de%20Cebollas!5e0!3m2!1ses!2sar!4v1600388106553!5m2!1ses!2sar"
            width="600" height="450" frameborder="0" style="border:1;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe>
    </div>
</div>
{% endblock %}

{% block content3 %}
<div class="modal fade" id="comentariosModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content1">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Comentarios:</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    {% for comentario in comentarios %}
                    <hr>
                    <div class="comment" style="border: 2px solid black;">
                        <strong>
                            <p align="right">{{ comentario.Nombre_restaurant }}</p>
                            <ins>{{ comentario.usuario }}</ins>
                        </strong>
                        <div class="comentario">
                            <p><i>{{ comentario.mensaje|linebreaks }}</i></p>
                        </div>
                        <p>Valoración: <b class="estrellaColor">{{comentario.valoracion}}</b></p>
                        <p align="right">{{ comentario.fecha }}</p>
                    </div>
                    <hr>
                    {% empty %}
                    <p>No hay comentarios aquí :(</p>
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}