<!DOCTYPE html>
<html lang="es-AR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- funcion js para redireccionar a la pag anterior -->
    <script type="text/javascript">
        function redireccionar(){
          window.locationf=history.back(-1); //history.back(-1) es lo que hace que vuelva a la pag que estaba.
        } 
        setTimeout ("redireccionar()", 2000); //tiempo expresado en milisegundos
    </script>
    <title>Error registro</title>
    <link rel="icon" href="/static/img/icon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        body {
            background: linear-gradient(rgba(93, 9, 121, .3), rgba(155, 35, 234, .7)), url(/static/img/login/bgregister.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</head>
<body>
    <div class="container text-center">
        <script>alert("Ingresaste mal algun valor, vuelve a intentarlo!")</script>
        <div class="alert alert-danger" role="alert"><h1>Serás redirigido en 1. . .</h1></div>       
   </div>
</body>
</html>