<!DOCTYPE html>
<html lang="es-AR">

<head>
  <meta charset="UTF-3">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <style>
    body {
      background: linear-gradient(rgba(93, 9, 121, .3), rgba(155, 35, 234, .7)), url(/static/img/login/bglogin.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }

    .row {
      margin-top: 220px;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
    }

    a:hover {
      text-decoration: none;
    }
  </style>
</head>

<body>
  {% if form.errors %}
  <div class="text-center">
    <h3 style="color: red;"> <strong> Ingresaste mal tu usuario o contraseña por favor introducilo de nuevo. </strong>
    </h3>
  </div>
  {% endif %}

  <div class="row">
    <div class="col-sm-12 text-center">
      <h2 class="text-center"> Iniciar sesión </h2>
      {% load crispy_forms_tags %}
      <!--Para que funcione el formulario de crispy-->

      <div class="container">
        <form method="POST">
          {% csrf_token%}
          {{form | crispy}}
          <div class="text-center py-4">
            <button class="btn btn-success py-4" type="submit"><b>Iniciar sesión</b></button>
            <h5 class="py-2">*No tienes cuenta?</h5>
            <button class="btn btn-dark py-4"><b><a href="/registrar">Registrarse</a></b></button>
            <button class="btn btn-dark py-4"><a href="/principal">Regresar</a></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

</html>