<!DOCTYPE html>
<html lang="es-AR">

<head>
  <meta charset="UTF-8">
  <link rel="icon" href="/static/img/icon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <style>
    body {
      background: linear-gradient(rgba(93, 9, 121, .3), rgba(155, 35, 234, .7)), url(/static/img/login/bglogin.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }

    .row {
      margin-top: 220px;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
    }

    a:hover {
      text-decoration: none;
    }
  </style>
</head>

<body>
  {% if form.errors %}
  <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
    <h3 style="color: red;"> <strong> Ingresaste mal tu usuario o contraseña por favor introducilo de nuevo. </strong>
    </h3>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endif %}

  <div class="row">
    <div class="col-sm-12 text-center">
      <h2 class="text-center"> Iniciar sesión </h2>
      {% load crispy_forms_tags %}
      <!--Para que funcione el formulario de crispy-->

      <div class="container">
        <form method="POST">
          {% csrf_token%}
          {{form | crispy}}
          <div class="text-center py-4">
            <a href="/password_reset">
              <p>Olvidaste tu contraseña? Haz click aqui!</p>
            </a>
            <button class="btn btn-success py-4" type="submit"><b>Iniciar sesión</b></button> 
          </div>
        </form>
        <h5 class="py-2">*No tienes cuenta?</h5>
        <a href="/registrar"><button class="btn btn-dark py-4"><b
              style="color: cornflowerblue;">Registrarse</b></button></a>
        <a href="javascript:history.back(-1);"><button class="btn btn-dark py-4"><b
              style="color: cornflowerblue;">Regresar</b></button></a>
      </div>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
</body>

</html>