{%if validlink %}
<!DOCTYPE html>
<html lang="es-AR">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/img/icon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva Clave</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/password.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row" id="pass">
            <div class="col-sm-xl"></div>
            <div class="col-sm-xl">
                <h1>Nueva contraseña</h1>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form.new_password1.errors }}
                    <label for="id_new_password1">Nueva contraseña</label>
                    {{ form.new_password1 }}

                    {{ form.new_password2.errors }}
                    <label for="id_new_password1">Repite la contraseña</label>
                    {{ form.new_password2 }}
                    <input type="submit" value="Cambiar contraseña" class="btn btn-outline-success">
                </form>
                {% else %}
                <h1> enlace invalido</h1>
                {% endif %}
            </div>
        </div>
    </div>

</body>

</html>