
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="/static/img/icon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<title>Correo enviado!!</title>
</head>
<body>
	
{% block content %}

<div class="container text-center">
	<div class="d-flex flex-column">
		  <p class="m-auto p-2">
			<strong> Hola desde el equipo de Loquepinte te mandamos un email para que puedas restablecer tu contraseña.
			<br> Saludos </strong>
		  </p>istrast
		  <p class="m-auto p-2">
		<strong>Si no llegaste a recibir nuestro mail por favor asegurate de haber ingresado con el correo que te registraste
			ademas mira por las dudas en tu carpeta de spam. </strong> 
		  </p>
		  <p class="m-auto p-2"><a href="{% url 'home' %}">Return to home page</a></p>
	</div>
</div>

{% endblock %}
</body>
</html>