body {
    background: linear-gradient(rgba(211, 180, 3, 0.3), rgba(182, 182, 182, 0.7)), url(/static/img/30.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

form {
    margin-top: 50px;
    background: linear-gradient(rgba(14, 98, 119, 0.2), rgba(253, 212, 77, 0.2));
    color: white;
    text-shadow: 5px 2px 4px grey;
    font-family: 'Roboto Condensed', sans-serif;
    box-shadow: 8px 8px 25px black;
}
.btn{
    font-size: 20px;
}

.usuario {
    background: linear-gradient(rgba(0, 255, 255, 0.3), rgba(2, 56, 87, 0.3));
    box-shadow: 2px 2px 10px black;
    font-weight: bolder;
    color: white;
}

h5{
    text-align: right;
}
