body {
    background: linear-gradient(rgba(93, 9, 121, .3), rgba(155, 35, 234, .7)), url(/static/img/bg2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.formComentario {
    margin-top: 80px;
    background: linear-gradient(rgba(14, 98, 119, 0.2), rgba(253, 212, 77, 0.2));
    color: white;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    font-family: 'Roboto Condensed', sans-serif;
    box-shadow: 0px 4px 20px black;
    border-radius: 20px;
}
#botonEnviarComent{
    font-size: 20px;
}

.usuario {
    background: linear-gradient(rgba(149, 2, 76, 0.7), rgba(87, 2, 73, 0.7));
    box-shadow: 2px 2px 10px black;
    font-weight: bolder;
    color: white;
}

h5{
    text-align: right;
}

footer{
    position: relative;            
}