body{
    background: linear-gradient(rgba(93,9,121 , .3),rgba(155,35,234, .7)), url(/static/img/24.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#pass{
    padding: 2%;
    background: rgba(0,0,0,0.2);
}

#pass:hover{
    background-color: rgba(36, 124, 33, 0.2);
}