

.restau:hover .calificar {
    visibility: visible;
    margin-top: 0px;
}

.restaurante:hover {
    transform: scale(1.1) rotateZ(360deg);
    border-radius: 100%;
}

.restaurante{
    transition: 0.5s ease-in-out;
}
nav {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-shadow: none;
}

.Comentario {
    background: linear-gradient(rgba(56, 0, 0, 0.3), rgba(56, 0, 0, 0.5));
    border: 2px solid tomato;
    border-radius: 40px;
    padding: 5px;
}


.tooltip-inner {
    background-color: rgb(13, 153, 13);
    font-weight: bold;
}


/* de la estrella */

.clasificacion {
    color: grey;
    font-size: 50px;
    visibility: hidden;
    margin-top: -100px;
    transition: margin 1s;
}

.restau:hover .clasificacion{
   visibility: visible;
   margin-top: -5px;
}

/* starts */

.BotonLogin {
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 8px;
    border-radius: 15px;
    box-shadow: 2px 1px 5px #666666;
    text-shadow: 2px 2px 4px #666666;
    border: solid #d91c71 0px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fc3f94), to(#fc0574));
    background: -moz-linear-gradient(top, #fc3f94, #fc0574);
}

.BotonLogin:hover {
    background: #e62097;
}

.BotonRegistro {
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 8px;
    border-radius: 15px;
    box-shadow: 2px 1px 5px #666666;
    text-shadow: 2px 2px 4px #666666;
    border: solid #d91c71 0px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fc3f94), to(#fc0574));
    background: -moz-linear-gradient(top, #fc3f94, #fc0574);
}

.BotonRegistro:hover {
    background: #e62097;
}

.BotonLogout {
    font-family: Arial;
    color: #ffffff;
    font-size: 18px;
    padding: 8px;
    border-radius: 15px;
    box-shadow: 2px 1px 5px #666666;
    text-shadow: 2px 2px 4px #666666;
    border: solid #d91c71 0px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fc3f94), to(#fc0574));
    background: -moz-linear-gradient(top, #fc3f94, #fc0574);
}

.BotonLogout:hover {
    background: #e62097;
}