<!DOCTYPE html>
<html lang="es-AR">
<head>
    {% load static %}
    <meta charset="UTF-3">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lo que pinte</title>
    <link rel="icon" href="/static/img/icon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d5e8dba652.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/estilos.css">
    <style>
      .restaurante:hover {
        transform: scale(1.1);
      }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-danger sticky-top">
            <a class="navbar-brand" href="../home/"><i class="fas fa-utensils"></i> LoQuePinte <i class="fas fa-utensils"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="../home/">Inicio<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="#">Restaurantes</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tipos de Comida
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Comida Tipica</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Comida Vegana</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Comida Celiaca</a>
                  </div>
                </li>
              </ul>
              <div>
                {% if user.is_authenticated %}
                    <a href="#"> Usuario : {{user.username}}</a> 
                    <a href="{% url 'logout' %}">Cerrar Sesion</a>
                      {% else %}
                    <a href="{% url 'login'  %}"><img src="../static/img/login/Boton1.png"></a>
                    <a href="{% url 'registro_usuario'  %}"><img src="../static/img/login/Boton2.png"></a>
                {% endif %}
              </div>


              <form class="form-inline my-2 my-lg-0 px-2">
                <input class="form-control mr-sm-2" type="search" placeholder="Restaurante" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
              </form>
            </div>
        </nav>        
    </header>

    <div class="my-4 text-center"> 
      <img src="/static/img/logo3.png" id="logo">
      <h2 style="text-shadow: 5px 0 10px black;">Busca el restaurante que mas te guste!</h2>
    </div>
    <div class="row">
      <div class="col-sm-4 text-center py-4">
        <a href="../restaurante/" target="_blank"><img src="/static/img/restaurant.png" class="restaurante"></a>            
      </div>
      <div class="col-sm-4 text-center py-4">
        <a href=""><img src="/static/img/restaurant2.png" class="restaurante"></a>
      </div>
      <div class="col-sm-4 text-center py-4">
        <a href=""><img src="/static/img/restaurant.png" class="restaurante"></a>
      </div>
      <div class="col-sm-4 text-center py-4">
        <a href=""><img src="/static/img/restaurant2.png" class="restaurante"></a>
      </div>
      <div class="col-sm-4 text-center py-4">
        <a href=""><img src="/static/img/restaurant.png" class="restaurante"></a>
      </div>
      <div class="col-sm-4 text-center py-4">
        <a href=""><img src="/static/img/restaurant2.png" class="restaurante"></a>
      </div>      
   </div>


  <div class="Comentario">
        <h1 class="px-3">Registra tu restaurante!</h1>
    <form  action="/contactar/" method="POST">{% csrf_token %} 
      <div class="form-row px-3">
        <div class="form-group col-sm-6">
          <label for="nombre">Nombre del restaurante</label>
          <input type="text" required="" class="form-control" name="txtNombre" placeholder="Ingrese el nombre">
        </div> 
      </div>
      <div class="form-row px-3">
            <div class="form-group col-sm-3">
                <label for="email">Email</label>
                <input type="email" required="" name="txtEmail" class="form-control" placeholder="Ingrese su email">
            </div>
            <div class="form-group col-sm-3">
                <label for="numero">Numero</label>
                <input type="text" required="" class="form-control" name="txtNumero" placeholder="Numero de contacto">
            </div>
        </div>
      <div class="form-row px-3">
        <div class="form-group col-sm-4">
          <label for="Domicilio">Domicilio de tu restaurante</label>
          <input type="text" required="" class="form-control" name="txtDomicilio" placeholder="Ingrese su Domicilio">
        </div> 
        <div class="form-group col-sm-2">
          <label for="Ciudad">Ciudad</label>
          <select name="ciudad" id="ciudad" class="form-control">
            <option>Resistencia</option>
            <option>Barranqueras</option>
            <option>Fontana</option>
          </select>
        </div> 
      </div>
      <div class="form-group col-sm-6">
        <label for="comentario">Comentario adicional</label>
        <textarea class="form-control" name="txtComentario" cols="10" rows="4"></textarea>
      </div>
      <div class="form-group col-sm-6">
        <div class="form-group form-check px-4">
          <input type="checkbox" class="form-check-input" name="txt_llamar">
          <label class="form-check-label" for="exampleCheck1">Quiero que me llamen</label>
        </div>
          <input type="submit" class="btn btn-primary col-sm-12 py-4" value="Enviar">
        </div>
    </form>
</div>

    <footer style>
        <div class="row">
          <div class="col-sm-4 d-flex flex-column py-4">
            <a href="http://www.facebook.com"><i class="fab fa-facebook px-2"></i>Facebook</a>
            <a href="http://www.twitter.com"><i class="fab fa-twitter-square px-2"></i>Twitter</a>
            <a href="http://www.instagram.com"><i class="fab fa-instagram-square px-2"></i>Instagram</a>
          </div>
    
          <div class="col-sm-4 text-center">
            <address>
              <h3>Contacto</h3>
              <!-- aca utilizo iconos de bootstrap -->
               <p><svg width="2em" height="1em" viewBox="0 0 16 16" class="bi bi-phone" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M11 1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"/>
                <path fill-rule="evenodd" d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
              </svg>+5493624112233</p>
              <p><svg width="2em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
              </svg> informatorio2020@gmail.com</p>
              
            </address>
          </div>
    
          <div class="col-sm-4 d-flex flex-column align-items-end py-4 px-4">
            <a href="http://www.google.com"><i class="fas fa-bullhorn px-2"></i>Nosotros</a>
            <a href="http://www.google.com"><i class="fas fa-utensils px-2"></i>Restaurantes</a>
            <a href="http://www.google.com"><i class="fas fa-cocktail px-2"></i>Tu restaurante</a>
          </div>
        </div>
    </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>